{% load static %}

<style>
    .pic{
        max-width: 200px;
        max-height: 100px;
    }
    .Hello-msg{
        font-size: 20;
        color: blue;
        margin-right: 20px;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <img class="pic" src="{% static 'images/GN.png' %}" alt="">
    <div class="collapse navbar-collapse" id="navbarNav">
        {% if request.user.is_staff %}
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'Home' %}"><h5>Dashbord</h5> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'Products' %}"><h5>Products</h5></a>
            </li>
            </ul>
        {% else %}
            <!--<span><h4><a class="nav-link" href="{% url 'Profile' %}">Create New Order</a></h4></span>-->
            <span><h4><a class="nav-link" href="{% url 'Profile' %}">Account Settings</a></h4></span>
            
            <!--
            <li class="nav-item">
                <h4><a class="nav-link" href="{% url 'Profile' %}">Create New Order</a></h4>
            </li>
            <li class="nav-item">
                <h4><a class="nav-link" href="{% url 'Profile' %}">Settings</a></h4>
            </li>
        -->
        {% endif %}
    </div>

    <span class="Hello-msg"><h5>Hello, {{request.user}}</h5></span>
    <span class="Hello-msg"><a href="{% url 'Logout' %}"><h5>Logout</h5></a></span>

</nav>
<!--</nav> <nav class="navbar navbar-light" style="background-color: #e3f2fd;">-->
    <!-- Navbar content -->
<hr>