{% extends 'accounts/main.html' %}
{% load static %}



{% block content %}
	<style>
		.profile_pic{
			max-width: 300px;
			max-height: 340px;
			margin: 0 auto;
			border-radius: 70%;
		}
	</style>

	<br>
	<div class="row">
		<div class="col-mid-3">
			<div class="card card-body">
				<a class="btn btn-warning" href="{% url 'Home' %}">&#8592; Back to Profile</a>
				<hr>
				<h3 style="text-align: center;">Account Setting</h3>
				<hr>
				<img class="profile_pic" src="{{ request.user.customer.profile_pics.url }}">
			</div>
		</div>
		<div class="col-mid-9">
			<div class="card card-body">
				<form method="POST" action="" enctype="multipart/form-data">
					{% csrf_token %}
					{{ form.as_p }}
					<input class="btn btn-primary" type="submit" name="Update Information">
				</form>
			</div>
		</div>
	</div>

{% endblock %}